
$font-path: "../assets/fonts";



$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    skyblue,
  secondary:  #FEC085,
  danger:     #f53d3d,
  light:      #85010E,
  dark:       #222
);


$toolbar-background: color($colors, primary);
$tabs-background: color($colors, primary);

@import "ionic.theme.default";

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";