page-views {
    .home{
        background-image: url(../../assets/imgs/71ff25dc9f1603b04eb44209a6c7d336.jpg);
        background-size: cover;
    }
    .container {
        display: flex;
        margin-top: 1em;
        
    }
    .wrapper {
        position: inherit;
        flex: 1;
        background-color: aliceblue;
    }
  
}
